<footer class="footer">
  <div class="footer__content">
    <ul class="footer__links">
      <li><a class="fancy-link" href="https://www.instagram.com/{{ settings.instagram_username }}/" target="_blank" rel="noopener">Follow us &rarr; On Instagram</a></li>
      <li><a class="fancy-link" href="mailto:{{ shop.email }}">Say "Hi!" &rarr; {{ shop.email }}</a></li>
    </ul>

    <ul class="footer__copyright">
      <li>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</li>
      <li>Made with &hearts; in Missouri</li>
    </ul>
  </div>

  <img class="footer__logo" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" />
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %} 